libs/
node_modules/
.DS_Store
*.iml
.project
.svn
npm-debug.log
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
*.ipr
*.iws
.idea/mongoSettings.xml

# bem
.bem/cache/
.enb/tmp/
*bundles*/*/*.*
!*bundles*/*/*.bemjson.js
!*bundles*/.bem/*
*pages*/*/*.*
!*pages*/*/*.bemjson.js
!*pages*/.bem/*
