.start-screen
    background-color #89898b
    padding-top 200px
    padding-bottom 150px

    &__inner
        margin 0 auto
        width 1024px

    &__logo
        display block
        margin-right auto
        margin-left auto

    &__text
        text-align center
        margin-top 45px
        text-transform uppercase
        color white

    &__header
        margin-top 30px
        text-align center
        text-transform uppercase
        color #ffe600
        font-size 40px
        font-family Roboto Light, sans-serif

    &__button-wrapper
        text-align center
        margin-top 100px

    &__button
        color white
        text-decoration none
        text-transform uppercase
        border 1px solid #ffe600
        padding 15px 60px
        text-align center

    &__link
        background-image url(./arrow.png)
        background-size 100% 100%;
        width 40px
        height 20px
        display block
        margin-right auto
        margin-left auto
        margin-top 30px
